/**
 * Posts and Pages
 */
/*.post {
  margin-bottom: 1.66667em;
}*/

.page-header{
  margin-bottom: 8em;
}

.post-header {
  margin-bottom: 2em;
}

.page-title,
.post-title {
  margin-bottom: 0;
}

.page-subtitle,
.post-subtitle {
  color: _palette(charcoal);
  margin-top: 0.75em;
}

.post-subtitle {
  font-size: 1em;
  line-height: 1.5;
}

.post-meta {
  color: _palette(charcoal-light-40);
  font-size: 0.88889em;
  letter-spacing: 0px;
  text-transform: none;
}

.post-full {
  .post-meta {
    padding-bottom: 1.875em;
    padding-top: 0.9375em;
  }
}

.post-image {
  border: 0;
  display: block;
  margin-bottom: 1.66667em;

  img {
    width: 100%;
  }
}

.recipe-brief {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  p {
    margin: 0 0 1.66667em;
    flex:1.5;
  }
  .post-heroimage {
    flex:2;
    margin-bottom: 1.66667em;
    margin-left: 0.83333em;
  }
}

@media only screen and (max-width: 800px) {
  .recipe-brief {
    display: block;
    margin-bottom: 3em;

    .post-heroimage {
      margin-left: 0;
    }

    p{
      margin-bottom: 1em;
    }
  }
}

.inner-recipe-sm {
  
  h3{
    flex: 100%;
    margin: 0.8333em 0 0.412em 0;
  }

  h4{
    flex: 100%;
    margin: 0.8333em 0 0.415em 0;
  }

  hr{
    flex: 100%;
    margin: 0 0 0.8333em 0;
  }

  p{
    flex: 10%;
    margin: 0.8333em 0.8333em 1.6777em 0;
  }

  table{
    flex:1;
    margin: 0.8333em 0.8333em;
  }
}


/* Post feed */
.post-thumbnail {
  border: 0;
  display: block;
  margin-bottom: 0.83333em;
  position: relative;
  width: 100%;

  &:before {
    content: "";
    display: block;
    padding-top: 60%;
  }

  img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.post-feed {
  .post-header {
    margin-bottom: 0.415em;
  }

  .post-title {
    font-size: 1.33333em;

    a {
      border: 0;
      color: inherit;
  
      &:hover,
      &:focus {
        color: _palette(charcoal-light-15);
      }
    }
  }

  .post-meta {
    margin-top: 0.5em;
  }
}

@media only screen and (min-width: 541px) {
  .post-feed {
    &.grid-col-2 {
      .post-thumbnail {
        margin-bottom: 0.83333em;
      }

      .post-meta {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (min-width: 761px) {
  .post-feed {
    &.grid-col-3 {
      .post-thumbnail {
        margin-bottom: 0.83333em;
      }

      .post-meta {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .page-header{
    margin-bottom: 5em;
  }

  .post-header {
    margin-bottom: 1em;
  }

  .post-subtitle {
    font-size: 1.22222em;
  }
}